USE [master]
GO
/****** Object:  Database [aspnet-ProjekatWebPortal_Core-BP]    Script Date: 3/18/2022 10:00:26 PM ******/
CREATE DATABASE [aspnet-ProjekatWebPortal_Core-BP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'aspnet-ProjekatWebPortal_Core-BP', FILENAME = N'C:\Users\nikol\aspnet-ProjekatWebPortal_Core-BP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'aspnet-ProjekatWebPortal_Core-BP_log', FILENAME = N'C:\Users\nikol\aspnet-ProjekatWebPortal_Core-BP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [aspnet-ProjekatWebPortal_Core-BP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [aspnet-ProjekatWebPortal_Core-BP]
GO
USE [aspnet-ProjekatWebPortal_Core-BP]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Ime] [nvarchar](max) NULL,
	[Prezime] [nvarchar](max) NULL,
	[Slika] [varbinary](max) NULL,
	[SkolaId] [int] NULL,
	[GodinaUpisa] [int] NULL,
	[SmerId] [int] NULL,
	[Uloga] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forum_Message]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forum_Message](
	[Id_message] [int] IDENTITY(1,1) NOT NULL,
	[messagePost] [nvarchar](max) NOT NULL,
	[messageDate] [datetime2](7) NOT NULL,
	[odobrenje] [nvarchar](max) NULL,
	[Id_post] [int] NOT NULL,
 CONSTRAINT [PK_Forum_Message] PRIMARY KEY CLUSTERED 
(
	[Id_message] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forum_Posts]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forum_Posts](
	[Id_post] [int] IDENTITY(1,1) NOT NULL,
	[posttitle] [nvarchar](50) NOT NULL,
	[postmessage] [nvarchar](max) NOT NULL,
	[posteddate] [datetime2](7) NOT NULL,
	[approved] [nvarchar](10) NOT NULL,
	[imgTema] [nvarchar](max) NULL,
	[aspNetUserId] [nvarchar](450) NULL,
	[Id] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Forum_Posts] PRIMARY KEY CLUSTERED 
(
	[Id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[globalniZahtevi]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[globalniZahtevi](
	[zahtevId] [int] IDENTITY(1,1) NOT NULL,
	[zahtevDatum] [datetime2](7) NOT NULL,
	[zahtevObrazlozenje] [nvarchar](max) NULL,
	[ZaGlobalnog] [bit] NOT NULL,
	[materijalId] [int] NOT NULL,
	[predlozeniModul] [int] NULL,
 CONSTRAINT [PK_globalniZahtevi] PRIMARY KEY CLUSTERED 
(
	[zahtevId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materijali]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materijali](
	[materijalId] [int] IDENTITY(1,1) NOT NULL,
	[materijalFile] [varbinary](max) NULL,
	[fileMimeType] [nvarchar](max) NULL,
	[materijalOpis] [nvarchar](max) NULL,
	[datumMaterijali] [datetime2](7) NOT NULL,
	[materijalEkstenzija] [nvarchar](max) NULL,
	[materijalNaziv] [nvarchar](max) NULL,
	[materijalNaslov] [nvarchar](max) NULL,
	[idUser] [nvarchar](max) NULL,
	[odobreno] [nvarchar](max) NULL,
	[obrazlozenje] [nvarchar](max) NULL,
	[tipMaterijalId] [int] NOT NULL,
	[Obrisan] [bit] NOT NULL,
	[namenaMaterijalaId] [int] NOT NULL,
 CONSTRAINT [PK_materijali] PRIMARY KEY CLUSTERED 
(
	[materijalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materijalPoModulu]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materijalPoModulu](
	[modulId] [int] NOT NULL,
	[materijalId] [int] NOT NULL,
 CONSTRAINT [PK_materijalPoModulu] PRIMARY KEY CLUSTERED 
(
	[materijalId] ASC,
	[modulId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moduli]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moduli](
	[modulId] [int] IDENTITY(1,1) NOT NULL,
	[modulNaziv] [nvarchar](50) NULL,
	[modulOpis] [nvarchar](250) NULL,
	[predmetId] [int] NULL,
 CONSTRAINT [PK_moduli] PRIMARY KEY CLUSTERED 
(
	[modulId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nameneMaterijala]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nameneMaterijala](
	[namenaMaterijalaId] [int] NOT NULL,
	[namenaMaterijalaNaziv] [nvarchar](max) NULL,
 CONSTRAINT [PK_nameneMaterijala] PRIMARY KEY CLUSTERED 
(
	[namenaMaterijalaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[predmeti]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[predmeti](
	[predmetId] [int] IDENTITY(1,1) NOT NULL,
	[predmetNaziv] [nvarchar](max) NULL,
	[predmetOpis] [nvarchar](max) NULL,
	[tipId] [int] NOT NULL,
	[Razred] [int] NULL,
	[PredmetModelpredmetId] [int] NULL,
 CONSTRAINT [PK_predmeti] PRIMARY KEY CLUSTERED 
(
	[predmetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[predmetiPoSmeru]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[predmetiPoSmeru](
	[predmetId] [int] NOT NULL,
	[smerId] [int] NOT NULL,
 CONSTRAINT [PK_predmetiPoSmeru] PRIMARY KEY CLUSTERED 
(
	[predmetId] ASC,
	[smerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesormaterijali]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesormaterijali](
	[materijalId] [int] IDENTITY(1,1) NOT NULL,
	[materijalFile] [varbinary](max) NULL,
	[fileMimeType] [nvarchar](max) NULL,
	[materijalOpis] [nvarchar](max) NULL,
	[materijalEkstenzija] [nvarchar](max) NULL,
	[materijalNaziv] [nvarchar](max) NULL,
	[materijalNaslov] [nvarchar](max) NULL,
	[predmetId] [int] NULL,
	[tipMaterijalId] [int] NOT NULL,
	[namenaMaterijalaId] [int] NOT NULL,
	[odobreno] [nvarchar](max) NULL,
	[obrazlozenje] [nvarchar](max) NULL,
	[namenaMaterijalaModelnamenaMaterijalaId] [int] NULL,
	[TipMaterijalModeltipMaterijalId] [int] NULL,
	[PredmetModelpredmetId] [int] NULL,
 CONSTRAINT [PK_Profesormaterijali] PRIMARY KEY CLUSTERED 
(
	[materijalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skola]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skola](
	[IdSkole] [int] IDENTITY(1,1) NOT NULL,
	[NazivSkole] [nvarchar](max) NULL,
	[Skraceno] [nvarchar](max) NULL,
 CONSTRAINT [PK_Skola] PRIMARY KEY CLUSTERED 
(
	[IdSkole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Smer]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Smer](
	[smerId] [int] IDENTITY(1,1) NOT NULL,
	[smerNaziv] [nvarchar](max) NULL,
	[smerOpis] [nvarchar](max) NULL,
	[smerSkraceno] [nvarchar](max) NULL,
	[nazivFajlIts] [nvarchar](max) NULL,
	[fajlIts] [varbinary](max) NULL,
	[fileMimeTypeIts] [nvarchar](max) NULL,
	[fileEkstenzijaIts] [nvarchar](max) NULL,
	[nazivFajlNs] [nvarchar](max) NULL,
	[fajlNs] [varbinary](max) NULL,
	[fileMimeTypeNs] [nvarchar](max) NULL,
	[fileEkstenzijaNs] [nvarchar](max) NULL,
	[fajlMs] [varbinary](max) NULL,
	[fileMimeTypeMs] [nvarchar](max) NULL,
	[fileEkstenzijaMs] [nvarchar](max) NULL,
	[nazivFajlMs] [nvarchar](max) NULL,
	[SmerModelsmerId] [int] NULL,
 CONSTRAINT [PK_Smer] PRIMARY KEY CLUSTERED 
(
	[smerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[smeroviPoSkolama]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[smeroviPoSkolama](
	[skolaId] [int] NOT NULL,
	[smerId] [int] NOT NULL,
 CONSTRAINT [PK_smeroviPoSkolama] PRIMARY KEY CLUSTERED 
(
	[skolaId] ASC,
	[smerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeloVesti]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeloVesti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VestId] [int] NOT NULL,
	[TeloVesti] [nvarchar](max) NULL,
 CONSTRAINT [PK_TeloVesti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipMaterijala]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipMaterijala](
	[tipMaterijalId] [int] IDENTITY(1,1) NOT NULL,
	[nazivTipMaterijal] [nvarchar](max) NULL,
 CONSTRAINT [PK_tipMaterijala] PRIMARY KEY CLUSTERED 
(
	[tipMaterijalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipPredmeta]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipPredmeta](
	[tipId] [int] IDENTITY(1,1) NOT NULL,
	[tipNaziv] [nvarchar](max) NULL,
 CONSTRAINT [PK_tipPredmeta] PRIMARY KEY CLUSTERED 
(
	[tipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vesti]    Script Date: 3/18/2022 10:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vesti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naslov] [nvarchar](max) NULL,
	[Thumbnail] [nvarchar](max) NULL,
	[KratakOpis] [nvarchar](max) NULL,
	[DatumPostavljanja] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Vesti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220122172909_Initial-WithVesti', N'5.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220220212122_init', N'5.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220225134241_skoleISmerov', N'5.0.13')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'1', N'Administrator', N'ADMINISTRATOR', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'2', N'LokalniUrednik', N'LOKALNIUREDNIK', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'3', N'Profesor', N'PROFESOR', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'abca1208-81e0-456a-9aa2-bbeef7d1c53e', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e549c1a8-41bf-4cdd-8ba0-a04117683415', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'f66ccfeb-0ea1-4d7a-9a4a-f8c0e81534b0', N'2')
GO
INSERT [dbo].[nameneMaterijala] ([namenaMaterijalaId], [namenaMaterijalaNaziv]) VALUES (1, N'Materijal za ucenike')
INSERT [dbo].[nameneMaterijala] ([namenaMaterijalaId], [namenaMaterijalaNaziv]) VALUES (2, N'Materijal za profesore')
GO
SET IDENTITY_INSERT [dbo].[predmeti] ON 

INSERT [dbo].[predmeti] ([predmetId], [predmetNaziv], [predmetOpis], [tipId], [Razred], [PredmetModelpredmetId]) VALUES (1, N'Prvi ', N'aaaaa', 1, 1, NULL)
INSERT [dbo].[predmeti] ([predmetId], [predmetNaziv], [predmetOpis], [tipId], [Razred], [PredmetModelpredmetId]) VALUES (3, N'Globalni', N'asdfasdfasdf', 2, NULL, NULL)
INSERT [dbo].[predmeti] ([predmetId], [predmetNaziv], [predmetOpis], [tipId], [Razred], [PredmetModelpredmetId]) VALUES (4, N'aaaa', N'aaaaaaa', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[predmeti] OFF
GO
INSERT [dbo].[predmetiPoSmeru] ([predmetId], [smerId]) VALUES (1, 1)
INSERT [dbo].[predmetiPoSmeru] ([predmetId], [smerId]) VALUES (4, 4)
GO
SET IDENTITY_INSERT [dbo].[Skola] ON 

INSERT [dbo].[Skola] ([IdSkole], [NazivSkole], [Skraceno]) VALUES (1, N'Information Technology High School', N'ITHS')
INSERT [dbo].[Skola] ([IdSkole], [NazivSkole], [Skraceno]) VALUES (2, N'Nikola Tesla', N'NiTe')
INSERT [dbo].[Skola] ([IdSkole], [NazivSkole], [Skraceno]) VALUES (3, N'Mihajlo Pupin', N'MihP')
SET IDENTITY_INSERT [dbo].[Skola] OFF
GO
SET IDENTITY_INSERT [dbo].[Smer] ON 

INSERT [dbo].[Smer] ([smerId], [smerNaziv], [smerOpis], [smerSkraceno], [nazivFajlIts], [fajlIts], [fileMimeTypeIts], [fileEkstenzijaIts], [nazivFajlNs], [fajlNs], [fileMimeTypeNs], [fileEkstenzijaNs], [fajlMs], [fileMimeTypeMs], [fileEkstenzijaMs], [nazivFajlMs], [SmerModelsmerId]) VALUES (1, N'Smer 1', N'Smer 1', N'S1', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Smer] ([smerId], [smerNaziv], [smerOpis], [smerSkraceno], [nazivFajlIts], [fajlIts], [fileMimeTypeIts], [fileEkstenzijaIts], [nazivFajlNs], [fajlNs], [fileMimeTypeNs], [fileEkstenzijaNs], [fajlMs], [fileMimeTypeMs], [fileEkstenzijaMs], [nazivFajlMs], [SmerModelsmerId]) VALUES (2, N'Smer 2', N'Smer 2', N'S2', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Smer] ([smerId], [smerNaziv], [smerOpis], [smerSkraceno], [nazivFajlIts], [fajlIts], [fileMimeTypeIts], [fileEkstenzijaIts], [nazivFajlNs], [fajlNs], [fileMimeTypeNs], [fileEkstenzijaNs], [fajlMs], [fileMimeTypeMs], [fileEkstenzijaMs], [nazivFajlMs], [SmerModelsmerId]) VALUES (3, N'Smer 3', N'Smer 3', N'S3', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Smer] OFF
GO
INSERT [dbo].[smeroviPoSkolama] ([skolaId], [smerId]) VALUES (2, 2)
INSERT [dbo].[smeroviPoSkolama] ([skolaId], [smerId]) VALUES (1, 3)
INSERT [dbo].[smeroviPoSkolama] ([skolaId], [smerId]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[tipMaterijala] ON 

INSERT [dbo].[tipMaterijala] ([tipMaterijalId], [nazivTipMaterijal]) VALUES (1, N'Materijal sa vezbi')
INSERT [dbo].[tipMaterijala] ([tipMaterijalId], [nazivTipMaterijal]) VALUES (2, N'Materijal sa predavanja')
INSERT [dbo].[tipMaterijala] ([tipMaterijalId], [nazivTipMaterijal]) VALUES (3, N'Materijal za samostalan rad')
SET IDENTITY_INSERT [dbo].[tipMaterijala] OFF
GO
SET IDENTITY_INSERT [dbo].[tipPredmeta] ON 

INSERT [dbo].[tipPredmeta] ([tipId], [tipNaziv]) VALUES (1, N'lokalni')
INSERT [dbo].[tipPredmeta] ([tipId], [tipNaziv]) VALUES (2, N'globalni')
SET IDENTITY_INSERT [dbo].[tipPredmeta] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Forum_Message_Id_post]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Forum_Message_Id_post] ON [dbo].[Forum_Message]
(
	[Id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Forum_Posts_aspNetUserId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Forum_Posts_aspNetUserId] ON [dbo].[Forum_Posts]
(
	[aspNetUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_globalniZahtevi_materijalId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_globalniZahtevi_materijalId] ON [dbo].[globalniZahtevi]
(
	[materijalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_materijali_namenaMaterijalaId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_materijali_namenaMaterijalaId] ON [dbo].[materijali]
(
	[namenaMaterijalaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_materijali_tipMaterijalId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_materijali_tipMaterijalId] ON [dbo].[materijali]
(
	[tipMaterijalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_materijalPoModulu_modulId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_materijalPoModulu_modulId] ON [dbo].[materijalPoModulu]
(
	[modulId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_moduli_predmetId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_moduli_predmetId] ON [dbo].[moduli]
(
	[predmetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_predmeti_PredmetModelpredmetId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_predmeti_PredmetModelpredmetId] ON [dbo].[predmeti]
(
	[PredmetModelpredmetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_predmeti_tipId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_predmeti_tipId] ON [dbo].[predmeti]
(
	[tipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_predmetiPoSmeru_smerId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_predmetiPoSmeru_smerId] ON [dbo].[predmetiPoSmeru]
(
	[smerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Profesormaterijali_namenaMaterijalaModelnamenaMaterijalaId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Profesormaterijali_namenaMaterijalaModelnamenaMaterijalaId] ON [dbo].[Profesormaterijali]
(
	[namenaMaterijalaModelnamenaMaterijalaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Profesormaterijali_PredmetModelpredmetId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Profesormaterijali_PredmetModelpredmetId] ON [dbo].[Profesormaterijali]
(
	[PredmetModelpredmetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Profesormaterijali_TipMaterijalModeltipMaterijalId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Profesormaterijali_TipMaterijalModeltipMaterijalId] ON [dbo].[Profesormaterijali]
(
	[TipMaterijalModeltipMaterijalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Smer_SmerModelsmerId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Smer_SmerModelsmerId] ON [dbo].[Smer]
(
	[SmerModelsmerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_smeroviPoSkolama_smerId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_smeroviPoSkolama_smerId] ON [dbo].[smeroviPoSkolama]
(
	[smerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeloVesti_VestId]    Script Date: 3/18/2022 10:00:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeloVesti_VestId] ON [dbo].[TeloVesti]
(
	[VestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Forum_Message]  WITH CHECK ADD  CONSTRAINT [FK_Forum_Message_Forum_Posts_Id_post] FOREIGN KEY([Id_post])
REFERENCES [dbo].[Forum_Posts] ([Id_post])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Forum_Message] CHECK CONSTRAINT [FK_Forum_Message_Forum_Posts_Id_post]
GO
ALTER TABLE [dbo].[Forum_Posts]  WITH CHECK ADD  CONSTRAINT [FK_Forum_Posts_AspNetUsers_aspNetUserId] FOREIGN KEY([aspNetUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Forum_Posts] CHECK CONSTRAINT [FK_Forum_Posts_AspNetUsers_aspNetUserId]
GO
ALTER TABLE [dbo].[globalniZahtevi]  WITH CHECK ADD  CONSTRAINT [FK_globalniZahtevi_materijali_materijalId] FOREIGN KEY([materijalId])
REFERENCES [dbo].[materijali] ([materijalId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[globalniZahtevi] CHECK CONSTRAINT [FK_globalniZahtevi_materijali_materijalId]
GO
ALTER TABLE [dbo].[materijali]  WITH CHECK ADD  CONSTRAINT [FK_materijali_nameneMaterijala_namenaMaterijalaId] FOREIGN KEY([namenaMaterijalaId])
REFERENCES [dbo].[nameneMaterijala] ([namenaMaterijalaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[materijali] CHECK CONSTRAINT [FK_materijali_nameneMaterijala_namenaMaterijalaId]
GO
ALTER TABLE [dbo].[materijali]  WITH CHECK ADD  CONSTRAINT [FK_materijali_tipMaterijala_tipMaterijalId] FOREIGN KEY([tipMaterijalId])
REFERENCES [dbo].[tipMaterijala] ([tipMaterijalId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[materijali] CHECK CONSTRAINT [FK_materijali_tipMaterijala_tipMaterijalId]
GO
ALTER TABLE [dbo].[materijalPoModulu]  WITH CHECK ADD  CONSTRAINT [FK_materijalPoModulu_materijali_materijalId] FOREIGN KEY([materijalId])
REFERENCES [dbo].[materijali] ([materijalId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[materijalPoModulu] CHECK CONSTRAINT [FK_materijalPoModulu_materijali_materijalId]
GO
ALTER TABLE [dbo].[materijalPoModulu]  WITH CHECK ADD  CONSTRAINT [FK_materijalPoModulu_moduli_modulId] FOREIGN KEY([modulId])
REFERENCES [dbo].[moduli] ([modulId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[materijalPoModulu] CHECK CONSTRAINT [FK_materijalPoModulu_moduli_modulId]
GO
ALTER TABLE [dbo].[moduli]  WITH CHECK ADD  CONSTRAINT [FK_moduli_predmeti_predmetId] FOREIGN KEY([predmetId])
REFERENCES [dbo].[predmeti] ([predmetId])
GO
ALTER TABLE [dbo].[moduli] CHECK CONSTRAINT [FK_moduli_predmeti_predmetId]
GO
ALTER TABLE [dbo].[predmeti]  WITH CHECK ADD  CONSTRAINT [FK_predmeti_predmeti_PredmetModelpredmetId] FOREIGN KEY([PredmetModelpredmetId])
REFERENCES [dbo].[predmeti] ([predmetId])
GO
ALTER TABLE [dbo].[predmeti] CHECK CONSTRAINT [FK_predmeti_predmeti_PredmetModelpredmetId]
GO
ALTER TABLE [dbo].[predmeti]  WITH CHECK ADD  CONSTRAINT [FK_predmeti_tipPredmeta_tipId] FOREIGN KEY([tipId])
REFERENCES [dbo].[tipPredmeta] ([tipId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[predmeti] CHECK CONSTRAINT [FK_predmeti_tipPredmeta_tipId]
GO
ALTER TABLE [dbo].[predmetiPoSmeru]  WITH CHECK ADD  CONSTRAINT [FK_predmetiPoSmeru_predmeti_predmetId] FOREIGN KEY([predmetId])
REFERENCES [dbo].[predmeti] ([predmetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[predmetiPoSmeru] CHECK CONSTRAINT [FK_predmetiPoSmeru_predmeti_predmetId]
GO
ALTER TABLE [dbo].[predmetiPoSmeru]  WITH CHECK ADD  CONSTRAINT [FK_predmetiPoSmeru_Smer_smerId] FOREIGN KEY([smerId])
REFERENCES [dbo].[Smer] ([smerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[predmetiPoSmeru] CHECK CONSTRAINT [FK_predmetiPoSmeru_Smer_smerId]
GO
ALTER TABLE [dbo].[Profesormaterijali]  WITH CHECK ADD  CONSTRAINT [FK_Profesormaterijali_nameneMaterijala_namenaMaterijalaModelnamenaMaterijalaId] FOREIGN KEY([namenaMaterijalaModelnamenaMaterijalaId])
REFERENCES [dbo].[nameneMaterijala] ([namenaMaterijalaId])
GO
ALTER TABLE [dbo].[Profesormaterijali] CHECK CONSTRAINT [FK_Profesormaterijali_nameneMaterijala_namenaMaterijalaModelnamenaMaterijalaId]
GO
ALTER TABLE [dbo].[Profesormaterijali]  WITH CHECK ADD  CONSTRAINT [FK_Profesormaterijali_predmeti_PredmetModelpredmetId] FOREIGN KEY([PredmetModelpredmetId])
REFERENCES [dbo].[predmeti] ([predmetId])
GO
ALTER TABLE [dbo].[Profesormaterijali] CHECK CONSTRAINT [FK_Profesormaterijali_predmeti_PredmetModelpredmetId]
GO
ALTER TABLE [dbo].[Profesormaterijali]  WITH CHECK ADD  CONSTRAINT [FK_Profesormaterijali_tipMaterijala_TipMaterijalModeltipMaterijalId] FOREIGN KEY([TipMaterijalModeltipMaterijalId])
REFERENCES [dbo].[tipMaterijala] ([tipMaterijalId])
GO
ALTER TABLE [dbo].[Profesormaterijali] CHECK CONSTRAINT [FK_Profesormaterijali_tipMaterijala_TipMaterijalModeltipMaterijalId]
GO
ALTER TABLE [dbo].[Smer]  WITH CHECK ADD  CONSTRAINT [FK_Smer_Smer_SmerModelsmerId] FOREIGN KEY([SmerModelsmerId])
REFERENCES [dbo].[Smer] ([smerId])
GO
ALTER TABLE [dbo].[Smer] CHECK CONSTRAINT [FK_Smer_Smer_SmerModelsmerId]
GO
ALTER TABLE [dbo].[smeroviPoSkolama]  WITH CHECK ADD  CONSTRAINT [FK_smeroviPoSkolama_Skola_skolaId] FOREIGN KEY([skolaId])
REFERENCES [dbo].[Skola] ([IdSkole])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[smeroviPoSkolama] CHECK CONSTRAINT [FK_smeroviPoSkolama_Skola_skolaId]
GO
ALTER TABLE [dbo].[smeroviPoSkolama]  WITH CHECK ADD  CONSTRAINT [FK_smeroviPoSkolama_Smer_smerId] FOREIGN KEY([smerId])
REFERENCES [dbo].[Smer] ([smerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[smeroviPoSkolama] CHECK CONSTRAINT [FK_smeroviPoSkolama_Smer_smerId]
GO
ALTER TABLE [dbo].[TeloVesti]  WITH CHECK ADD  CONSTRAINT [FK_TeloVesti_Vesti_VestId] FOREIGN KEY([VestId])
REFERENCES [dbo].[Vesti] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeloVesti] CHECK CONSTRAINT [FK_TeloVesti_Vesti_VestId]
GO
USE [master]
GO
